In [1]:
# LocalSQLConnection.py script

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [2]:
# Create universal variables for the database and connection
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)

2.6.0

In [3]:
# Define an execute function that can be applied to all queries in this exercise

def execute_query(query):
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    
    # Print table column names
    colnames = list(map(lambda x: x[0], cur.description))
    print(colnames)
    
    # Print table rows
    for row in rows:
        print(row)

**Q10:** Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [4]:
query2 = """
    SELECT sub.name, (SUM(sub.cost) - sub.monthlymaintenance - sub.initialoutlay) AS revenue
    FROM (
        SELECT f.name, f.facid, f.initialoutlay, f.monthlymaintenance,
            CASE WHEN b.memid = 0 THEN (f.guestcost * b.slots)
                ELSE (f.membercost * b.slots)
            END AS cost
        FROM Bookings AS b
        JOIN Facilities AS f
        ON b.facid = f.facid
        ) sub
    GROUP BY facid
    ORDER BY revenue DESC;
    """

execute_query(query2)

['name', 'revenue']
('Massage Room 1', 43351.600000000275)
('Squash Court', 8388.0)
('Massage Room 2', 7454.599999999995)
('Tennis Court 2', 6110)
('Tennis Court 1', 3660)
('Pool Table', -145)
('Table Tennis', -150)
('Snooker Table', -225)
('Badminton Court', -2143.5)

**Q11:** Produce a report of members and who recommended them in alphabetic surname,firstname order

In [5]:
query3 = """
    SELECT a1.surname, a1.firstname, (a2.firstname || ' ' || a2.surname) AS recommendedby
    FROM Members AS a1
    JOIN Members AS a2
    ON a1.recommendedby = a2.memid
    ORDER BY a1.surname;
    """

execute_query(query3)

['surname', 'firstname', 'recommendedby']
('Bader', 'Florence', 'Ponder Stibbons')
('Baker', 'Anne', 'Ponder Stibbons')
('Baker', 'Timothy', 'Jemima Farrell')
('Boothe', 'Tim', 'Tim Rownam')
('Butters', 'Gerald', 'Darren Smith')
('Coplin', 'Joan', 'Timothy Baker')
('Crumpet', 'Erica', 'Tracy Smith')
('Dare', 'Nancy', 'Janice Joplette')
('Genting', 'Matthew', 'Gerald Butters')
('Hunt', 'John', 'Millicent Purview')
('Jones', 'David', 'Janice Joplette')
('Jones', 'Douglas', 'David Jones')
('Joplette', 'Janice', 'Darren Smith')
('Mackenzie', 'Anna', 'Darren Smith')
('Owen', 'Charles', 'Darren Smith')
('Pinker', 'David', 'Jemima Farrell')
('Purview', 'Millicent', 'Tracy Smith')
('Rumney', 'Henrietta', 'Matthew Genting')
('Sarwin', 'Ramnaresh', 'Florence Bader')
('Smith', 'Jack', 'Darren Smith')
('Stibbons', 'Ponder', 'Burton Tracy')
('Worthington-Smyth', 'Henry', 'Tracy Smith')

**Q12:** Find the facilities with their usage by member, but not guests

In [6]:
# Query will count number of times each guest used each facility.

query4 = """
    WITH a1 AS (
        SELECT (m.firstname || ' ' || m.surname) AS member, sub.name AS facilityname
        FROM (
            SELECT b.memid, b.facid, f.name
            FROM Bookings AS b
            JOIN Facilities AS f
            ON b.facid = f.facid
            ) sub
        JOIN Members AS m
        ON sub.memid = m.memid
        WHERE sub.memid != 0
    )
    SELECT a1.member, a1.facilityname, COUNT(*) AS memberusage
    FROM a1
    GROUP BY member, facilityname
    ORDER BY member, facilityname;
    """

execute_query(query4)

['member', 'facilityname', 'memberusage']
('Anna Mackenzie', 'Badminton Court', 30)
('Anna Mackenzie', 'Massage Room 1', 1)
('Anna Mackenzie', 'Pool Table', 70)
('Anna Mackenzie', 'Snooker Table', 7)
('Anna Mackenzie', 'Squash Court', 2)
('Anna Mackenzie', 'Table Tennis', 16)
('Anne Baker', 'Badminton Court', 10)
('Anne Baker', 'Massage Room 1', 3)
('Anne Baker', 'Massage Room 2', 2)
('Anne Baker', 'Pool Table', 12)
('Anne Baker', 'Squash Court', 49)
('Anne Baker', 'Table Tennis', 1)
('Anne Baker', 'Tennis Court 1', 6)
('Anne Baker', 'Tennis Court 2', 35)
('Burton Tracy', 'Badminton Court', 2)
('Burton Tracy', 'Massage Room 1', 31)
('Burton Tracy', 'Pool Table', 30)
('Burton Tracy', 'Snooker Table', 20)
('Burton Tracy', 'Squash Court', 35)
('Burton Tracy', 'Table Tennis', 24)
('Burton Tracy', 'Tennis Court 1', 31)
('Burton Tracy', 'Tennis Court 2', 3)
('Charles Owen', 'Badminton Court', 6)
('Charles Owen', 'Massage Room 1', 11)
('Charles Owen', 'Massage Room 2', 2)
('Charles Owen', 'Pool Table', 1)
('Charles Owen', 'Snooker Table', 22)
('Charles Owen', 'Squash Court', 7)
('Charles Owen', 'Table Tennis', 24)
('Charles Owen', 'Tennis Court 1', 17)
('Charles Owen', 'Tennis Court 2', 41)
('Darren Smith', 'Badminton Court', 132)
('Darren Smith', 'Massage Room 1', 28)
('Darren Smith', 'Pool Table', 28)
('Darren Smith', 'Snooker Table', 12)
('Darren Smith', 'Squash Court', 14)
('Darren Smith', 'Table Tennis', 28)
('Darren Smith', 'Tennis Court 2', 19)
('David Farrell', 'Pool Table', 25)
('David Farrell', 'Snooker Table', 1)
('David Farrell', 'Squash Court', 1)
('David Farrell', 'Tennis Court 1', 6)
('David Farrell', 'Tennis Court 2', 1)
('David Jones', 'Badminton Court', 8)
('David Jones', 'Massage Room 1', 19)
('David Jones', 'Massage Room 2', 4)
('David Jones', 'Pool Table', 8)
('David Jones', 'Snooker Table', 2)
('David Jones', 'Squash Court', 8)
('David Jones', 'Table Tennis', 11)
('David Jones', 'Tennis Court 1', 25)
('David Jones', 'Tennis Court 2', 30)
('David Pinker', 'Badminton Court', 7)
('David Pinker', 'Massage Room 1', 3)
('David Pinker', 'Pool Table', 9)
('David Pinker', 'Snooker Table', 16)
('David Pinker', 'Squash Court', 3)
('David Pinker', 'Table Tennis', 17)
('David Pinker', 'Tennis Court 1', 16)
('Douglas Jones', 'Badminton Court', 2)
('Douglas Jones', 'Pool Table', 2)
('Douglas Jones', 'Squash Court', 1)
('Douglas Jones', 'Tennis Court 1', 9)
('Erica Crumpet', 'Badminton Court', 2)
('Erica Crumpet', 'Massage Room 1', 2)
('Erica Crumpet', 'Table Tennis', 2)
('Erica Crumpet', 'Tennis Court 1', 1)
('Florence Bader', 'Badminton Court', 9)
('Florence Bader', 'Massage Room 2', 2)
('Florence Bader', 'Pool Table', 23)
('Florence Bader', 'Snooker Table', 33)
('Florence Bader', 'Squash Court', 2)
('Florence Bader', 'Table Tennis', 42)
('Florence Bader', 'Tennis Court 1', 1)
('Florence Bader', 'Tennis Court 2', 8)
('Gerald Butters', 'Badminton Court', 20)
('Gerald Butters', 'Massage Room 1', 32)
('Gerald Butters', 'Massage Room 2', 1)
('Gerald Butters', 'Pool Table', 6)
('Gerald Butters', 'Snooker Table', 34)
('Gerald Butters', 'Squash Court', 9)
('Gerald Butters', 'Table Tennis', 1)
('Gerald Butters', 'Tennis Court 1', 57)
('Gerald Butters', 'Tennis Court 2', 3)
('Henrietta Rumney', 'Pool Table', 3)
('Henrietta Rumney', 'Snooker Table', 14)
('Henrietta Rumney', 'Squash Court', 2)
('Henrietta Rumney', 'Tennis Court 2', 1)
('Henry Worthington-Smyth', 'Badminton Court', 4)
('Henry Worthington-Smyth', 'Massage Room 1', 1)
('Henry Worthington-Smyth', 'Pool Table', 33)
('Henry Worthington-Smyth', 'Table Tennis', 3)
('Hyacinth Tupperware', 'Badminton Court', 1)
('Hyacinth Tupperware', 'Massage Room 1', 1)
('Hyacinth Tupperware', 'Pool Table', 8)
('Hyacinth Tupperware', 'Snooker Table', 5)
('Hyacinth Tupperware', 'Squash Court', 1)
('Jack Smith', 'Badminton Court', 12)
('Jack Smith', 'Massage Room 1', 27)
('Jack Smith', 'Massage Room 2', 1)
('Jack Smith', 'Pool Table', 7)
('Jack Smith', 'Snooker Table', 5)
('Jack Smith', 'Squash Court', 9)
('Jack Smith', 'Table Tennis', 5)
('Jack Smith', 'Tennis Court 1', 22)
('Jack Smith', 'Tennis Court 2', 1)
('Janice Joplette', 'Massage Room 1', 12)
('Janice Joplette', 'Massage Room 2', 2)
('Janice Joplette', 'Pool Table', 27)
('Janice Joplette', 'Snooker Table', 68)
('Janice Joplette', 'Squash Court', 14)
('Janice Joplette', 'Table Tennis', 9)
('Janice Joplette', 'Tennis Court 1', 19)
('Janice Joplette', 'Tennis Court 2', 8)
('Jemima Farrell', 'Badminton Court', 7)
('Jemima Farrell', 'Massage Room 1', 29)
('Jemima Farrell', 'Pool Table', 1)
('Jemima Farrell', 'Snooker Table', 21)
('Jemima Farrell', 'Squash Court', 8)
('Jemima Farrell', 'Table Tennis', 12)
('Jemima Farrell', 'Tennis Court 1', 1)
('Jemima Farrell', 'Tennis Court 2', 1)
('Joan Coplin', 'Massage Room 1', 1)
('Joan Coplin', 'Massage Room 2', 2)
('Joan Coplin', 'Pool Table', 11)
('Joan Coplin', 'Snooker Table', 10)
('Joan Coplin', 'Squash Court', 1)
('Joan Coplin', 'Table Tennis', 21)
('Joan Coplin', 'Tennis Court 1', 7)
('John Hunt', 'Badminton Court', 2)
('John Hunt', 'Massage Room 1', 3)
('John Hunt', 'Squash Court', 1)
('John Hunt', 'Table Tennis', 1)
('John Hunt', 'Tennis Court 1', 4)
('John Hunt', 'Tennis Court 2', 4)
('Matthew Genting', 'Massage Room 1', 25)
('Matthew Genting', 'Massage Room 2', 1)
('Matthew Genting', 'Pool Table', 18)
('Matthew Genting', 'Snooker Table', 1)
('Matthew Genting', 'Table Tennis', 26)
('Matthew Genting', 'Tennis Court 1', 1)
('Millicent Purview', 'Badminton Court', 2)
('Millicent Purview', 'Pool Table', 5)
('Millicent Purview', 'Snooker Table', 1)
('Millicent Purview', 'Squash Court', 1)
('Millicent Purview', 'Table Tennis', 6)
('Millicent Purview', 'Tennis Court 2', 1)
('Nancy Dare', 'Badminton Court', 10)
('Nancy Dare', 'Massage Room 1', 19)
('Nancy Dare', 'Massage Room 2', 5)
('Nancy Dare', 'Pool Table', 19)
('Nancy Dare', 'Snooker Table', 23)
('Nancy Dare', 'Table Tennis', 5)
('Nancy Dare', 'Tennis Court 1', 25)
('Nancy Dare', 'Tennis Court 2', 11)
('Ponder Stibbons', 'Badminton Court', 16)
('Ponder Stibbons', 'Massage Room 1', 19)
('Ponder Stibbons', 'Pool Table', 12)
('Ponder Stibbons', 'Snooker Table', 20)
('Ponder Stibbons', 'Squash Court', 2)
('Ponder Stibbons', 'Table Tennis', 3)
('Ponder Stibbons', 'Tennis Court 1', 1)
('Ponder Stibbons', 'Tennis Court 2', 31)
('Ramnaresh Sarwin', 'Badminton Court', 7)
('Ramnaresh Sarwin', 'Massage Room 1', 8)
('Ramnaresh Sarwin', 'Massage Room 2', 3)
('Ramnaresh Sarwin', 'Pool Table', 13)
('Ramnaresh Sarwin', 'Snooker Table', 18)
('Ramnaresh Sarwin', 'Squash Court', 2)
('Ramnaresh Sarwin', 'Table Tennis', 3)
('Ramnaresh Sarwin', 'Tennis Court 1', 5)
('Ramnaresh Sarwin', 'Tennis Court 2', 11)
('Tim Boothe', 'Badminton Court', 12)
('Tim Boothe', 'Massage Room 1', 36)
('Tim Boothe', 'Pool Table', 25)
('Tim Boothe', 'Snooker Table', 43)
('Tim Boothe', 'Squash Court', 12)
('Tim Boothe', 'Table Tennis', 4)
('Tim Boothe', 'Tennis Court 1', 4)
('Tim Boothe', 'Tennis Court 2', 52)
('Tim Rownam', 'Badminton Court', 4)
('Tim Rownam', 'Massage Room 1', 80)
('Tim Rownam', 'Massage Room 2', 2)
('Tim Rownam', 'Pool Table', 241)
('Tim Rownam', 'Table Tennis', 69)
('Tim Rownam', 'Tennis Court 1', 6)
('Tim Rownam', 'Tennis Court 2', 6)
('Timothy Baker', 'Badminton Court', 7)
('Timothy Baker', 'Massage Room 1', 24)
('Timothy Baker', 'Pool Table', 85)
('Timothy Baker', 'Squash Court', 5)
('Timothy Baker', 'Table Tennis', 24)
('Timothy Baker', 'Tennis Court 1', 14)
('Timothy Baker', 'Tennis Court 2', 7)
('Tracy Smith', 'Badminton Court', 32)
('Tracy Smith', 'Massage Room 1', 6)
('Tracy Smith', 'Pool Table', 61)
('Tracy Smith', 'Snooker Table', 45)
('Tracy Smith', 'Squash Court', 6)
('Tracy Smith', 'Table Tennis', 28)
('Tracy Smith', 'Tennis Court 1', 30)
('Tracy Smith', 'Tennis Court 2', 2)

**Q13:** Find the facilities usage by month, but not guests

In [7]:
# Query will extract month from the booking starttime, then count number of times each facility was used in each month.

query5 = """
        WITH a1 AS (
        SELECT strftime('%m', sub.starttime) AS month, sub.name AS facilityname
        FROM (
            SELECT b.memid, b.facid, f.name, b.starttime
            FROM Bookings AS b
            JOIN Facilities AS f
            ON b.facid = f.facid
            ) sub
        JOIN Members AS m
        ON sub.memid = m.memid
        WHERE sub.memid != 0
        )
    SELECT a1.month, a1.facilityname, COUNT(*) AS monthusage
    FROM a1
    GROUP BY month, facilityname
    ORDER BY month, facilityname;
    """

execute_query(query5)

['month', 'facilityname', 'monthusage']
('07', 'Badminton Court', 51)
('07', 'Massage Room 1', 77)
('07', 'Massage Room 2', 4)
('07', 'Pool Table', 103)
('07', 'Snooker Table', 68)
('07', 'Squash Court', 23)
('07', 'Table Tennis', 48)
('07', 'Tennis Court 1', 65)
('07', 'Tennis Court 2', 41)
('08', 'Badminton Court', 132)
('08', 'Massage Room 1', 153)
('08', 'Massage Room 2', 9)
('08', 'Pool Table', 272)
('08', 'Snooker Table', 154)
('08', 'Squash Court', 85)
('08', 'Table Tennis', 143)
('08', 'Tennis Court 1', 111)
('08', 'Tennis Court 2', 109)
('09', 'Badminton Court', 161)
('09', 'Massage Room 1', 191)
('09', 'Massage Room 2', 14)
('09', 'Pool Table', 408)
('09', 'Snooker Table', 199)
('09', 'Squash Court', 87)
('09', 'Table Tennis', 194)
('09', 'Tennis Court 1', 132)
('09', 'Tennis Court 2', 126)